<div class="mdl-layout__drawer">
    <header>{{title}}</header>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-navigation__link--current" href="#">
            <i class="material-icons" role="presentation">dashboard</i>
            Dashboard
        </a>
        <a class="mdl-navigation__link" href="#" (click)="PrintNavPage(1)">
            <i class="material-icons" role="presentation">accessible</i>
            Users
        </a>

        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href="https://github.com/CreativeIT/getmdl-dashboard">
            <i class="material-icons" role="presentation">link</i>
            GitHub
        </a>
    </nav>
</div>